@media only Screen and (max-width: 1024px){
    html{
        font-size: 15px;
    }
}

@media only Screen and (max-width: 768px){
    html{
        font-size: 13px;
    }
    .wel_content{
        display: block;
        margin-top: 30vh;
    }
    .wel_logo{
        display: block;
        margin-top: 27.5vh;
    }
    .selected_group{
    -webkit-transform: translate(7vw);
    transform: translate(7vw);
    }
}

@media only Screen and (max-width: 480px){
    html{
        font-size: 7.5px;
    }
    .wel_content{
        display: block;
        margin: 10% 0 0 15%;
        text-align: center;
    }
    p{
        text-align: center;
    }
    .wel_logo{
        display: block;
        margin: 10% 0 0 0;
    }
    #logo{
        width: 50vw;
    }
    #logo:hover{
        width: 52vw;
    }
    .GameBox{
        padding: 10px;
        width: 30vw;
    }
    .GameBox img{
        width: 75%;
    }
    .GameBox h2{
        font-size: 150%;
    }
    .GameBox p{
        font-size: 125%;
    }
    .GameBox a{
        height: 15%;
    }
    .selected_group{
    -webkit-transform: translate(5vw);
    transform: translate(5vw);
    }
    footer label{
        font-size: 135%;
    }
}
