@media only Screen and (max-width: 1024px){
    html{
        font-size: 15px;
    }
}

@media only Screen and (max-width: 768px){
    html{
        font-size: 13px;
    }
    .wel_content{
        display: block;
        margin: 10% 12.5% 0 8%;
        width: 75%;
        font-size: 125%;
        text-align: center;
    }
    p{
        text-align: center;
    }
    .wel_logo{
        display: block;
        margin: 10% 0 0 0;
    }
    .GameBox{
        padding: 10px;
        width: 30vw;
        height: 55vh;
        margin: 15vh 0;
    }
    #logo{
        width: 42vw;
    }
    #logo:hover{
        width: 45vw;
    }
    .selected_group{
    -webkit-transform: translate(7vw);
    transform: translate(7vw);
    }
}

@media only Screen and (max-width: 480px){
    html{
        font-size: 12px;
    }
    .wel_content{
        display: block;
        margin: 20% 12.5% 0 8%;
        width: 75%;
        text-align: center;
    }
    p{
        text-align: center;
    }
    .wel_logo{
        display: block;
        margin: 20% 0 0 0;
    }
    #logo{
        width: 50vw;
    }
    #logo:hover{
        width: 52vw;
    }
    .GameBox{
        padding: 10px;
        width: 32vw;
        height: 65vh;
        margin: 10vh 0;
    }
    .GameBox img{
        width: 75%;
    }
    .GameBox h2{
        font-size: 150%;
    }
    .GameBox p{
        font-size: 125%;
    }
    .GameBox a{
        height: 15%;
    }
    .selected_group{
    -webkit-transform: translate(2vw);
    transform: translate(2vw);
    }
    footer label{
        font-size: 135%;
    }
}
